*, *::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
}


body {
    line-height: 1.6;
    background-color: #000;
    text-rendering: optimizeLegibility;
    color: #fff;
    font-family: 'Lato', sans-serif;
}


.header {
    height: 550px;
    width: 100%;
    background-image: url("../images/hero-banner.png");
    background-position: center;
    /* background-attachment: fixed; */
    background-size: cover;
    position: relative;
}

.top__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 40px;
    background-color: #121212;
}

.top__navbar .logo {
    font-size: 30px;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: normal;

}


.btn-contact {
    background-color: #fff;
    padding: 5px 20px !important;
    margin-left: 10px;
    border-radius: 100px;
    color: #333;
}

.active {
    color: #333 !important;
}
.menu li {
    padding: 0 8px;
}




.header--content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 100;
}


@media only screen and (max-width:769px) {
    .header--content {
        position: absolute;
        width: 90%;
    }

    .btn {
        display: block !important;
        margin: 10px 0 !important;
    }

    .heading-1 {
        font-size: 40px !important;
    }
}






.heading-1 {
    font-size: 58px;
    font-weight: 800;
    line-height: 1.5;

}

.header--content p {
    font-size: 24px;
    line-height: 1.4;
    color: #5f5b5b;
}


.btn {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding: 20px 40px;
    margin: 0 8px;
    border: 2px solid transparent;
    border-radius: 100px;

}



.btn-primary {
    background-color: #fff;
    color: #333;
}

.cta__site {
    margin-top: 70px;
}



.btn-primary-outline {
    background-color: transparent;
    border: 1px solid #333;
    color: #fff;

}




/* Counter Stats */
.counter__stats {
    width: 80%;
    margin: 50px auto;
    background-color: #121212;
    padding: 20px;
    border-radius: 5px;


    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    text-align: center;

}

@media only screen and (max-width:769px) {
    .counter__stats {
        width: 95% !important;
        display: grid !important;
        grid-template-columns: repeat(2,1fr) !important;
    }
}

.counter-box {
    line-height: 1.3;
}

.counter__stats h3 {
    font-size: 30px;
    color: #fff;
}

.counter__stats p {
    font-size: 20px;
    color: #5f5b5b;
}


@media only screen and (max-width:769px) {
    .animated--circle {
        top: 20% !important;
        left: 10% !important;
        width: 200px !important;
        height: 200px !important;
    }
}
/* Animated Circle */
.animated--circle {
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border: 1px solid #333;
    z-index: 0;

    animation: 2s ease-in-out infinite animatedCircle;
    backface-visibility: hidden;
}


@-webkit-keyframes animatedCircle {
    0%,
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    50% {
        opacity: 1;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}

@keyframes animatedCircle {
    0%,
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    50% {
        opacity: 1;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
}




/* OUR SERVICES */
/* .services__section {

} */

.section {
    width: 90%;
    margin: 120px auto;
}



@media only screen and (max-width:769px) {
    .section {
        width: 95%;
        margin: 80px auto;
    }
}



.section--heading {
    text-align: left;
}


.section--heading h3 {
    font-size: 60px;
    font-weight: bold;
}

@media only screen and (max-width:769px) {
    .section--heading h3 {
        font-size: 40px !important;
    }

    .section--heading p {
        width: 95% !important;
    }
}


.section--heading p {
    font-size: 20px;
    color: #5f5b5b;
    width: 70%;
    /* margin: 0 auto; */
}



@media only screen and (max-width:769px) {
    .services__grid {
        display: grid !important;
        grid-template-columns: 1fr !important;
        margin-top: 40px !important;
    }
}




.services__grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;

    align-items: center;
    margin-top: 80px;
}


.card-services {
    background-color: #121212;
    padding: 20px;
    border-radius: 10px;
}


.icon__box {
    /* height: 50px;
    width: 50px;
    background-color: #fff; */
    border-radius: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

@media only screen and (max-width: 769px) {
    .icon__box {
        display: flex !important;
        justify-content: flex-start !important;
    }
}

.icon__box i {
    color: #333;
    font-size: 80px;
}
.card-services {
    display: flex;
    gap: 30px;
    justify-content: center;
}

@media only screen and (max-width:769px) {
    .card-services {
        display: flex !important;
        flex-direction: column !important;
    }
}


.services--detail {
    flex: 2;
}

.services--detail h3 {
    font-size: 30px;
    font-weight: 800;
}

.services--detail p {
    font-size: 18px;
    color: #5f5b5b;
}






.about-us {
    width: 90%;

    font-size: 16px;
    line-height: 1.7;
}


@media only screen and (max-width:769px) {
    .about-us {
        width: 95%;
    }
}



.section--heading-v2 h3 {
    font-size: 50px;
    font-weight: bold;
}

.about-us p {
    margin: 18px 0;
    line-height: 1.9;
    color: #5f5b5b;
}


.founder {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 20px;
    margin-top: 50px;
}




.founder-detail {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
}

.founder-img {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    object-fit: cover;
}


.light-text {
    color: #333;
}




/* Testiomonials  */
.testiomonials {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 80px;
    align-items: center;
}



@media only screen and (max-width:769px) {
    .testiomonials {
        display: grid !important;
        grid-template-columns: 1fr !important;
        margin-top: 40px !important;
    }
}




.testiomonials-card {
    position: relative;
    background-color: #121212;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
}

.quote-icon {
    position: absolute;
    left: -10px;
    top: -20px;
}

.quote-icon i {
    color: #333;
    font-size: 50px;
}


.client-quote {
    font-size: 16px;
    line-height: 1.7;
    font-weight: normal;
    color: #5f5b5b;
}


.client-profile  img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    object-fit: cover;
}

.client-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}


.client-profile strong {
    font-size: 16px;
    color: #fff;
}


.cta___site {
    text-align: center;
    margin-top: 60px;

}

.contact {
    width: 80%;
    padding: 20px;
    background-color: #121212;
    margin: 0 auto;
    border-radius: 10px;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}


@media only screen and (max-width:769px) {
    .contact {
        width: 95%;
        display: grid !important;
        grid-template-columns: 1fr !important;
    }
}



.contact-detail {
    display: flex;
    gap: 10px;
    align-items: center;
}

.contact-detail .icon-contact {
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}


.contact-detail .icon-contact i {
    font-size: 30px;
    color: #333;
}


.address {
    color: #5f5b5b;
    font-size: 20px;
}


.footer {
    background-color: #121212;
    padding: 20px;
    text-align: center;
    color: #333;
    font-size: 18px;
}
